$font: "Poppins";
$headerFont: rgba(95, 46, 234, 1);
$titleActive: rgba(20, 20, 43, 1);
$pinkbutton: rgba(237, 46, 126, 1);
$searchMenuBackground: rgba(42, 0, 162, 1);
$searchMenutittle: rgba(188, 164, 255, 1);
$whitePrimary: rgba(243, 239, 255, 1);
$greenBannerBackground: rgba(242, 255, 251, 1);
$greenBannerText: rgba(0, 150, 109, 1);
$pinkBannerBackground: rgba(255, 243, 248, 1);
$pinkBannerText: rgba(237, 46, 126, 1);
$greyText: rgba(78, 75, 102, 1);
$headerborder: rgba(217, 219, 233, 1);
$grayscale: rgba(78, 75, 102, 1);
$searchMenutittle: rgba(188, 164, 255, 1);
$whitePrimary: rgba(243, 239, 255, 1);
