@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 122px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid variables.$headerborder;

    h1 {
        font-family: variables.$font;
        color: variables.$headerFont;
        margin-left: 45px;
        font-weight: 700px;
        font-size: 34.38px;
        line-height: 55px;
    }
    .burgerbutton:hover {
        cursor: pointer;
    }
    .burgerbutton {
        width: fit-content;
        height: fit-content;
        padding-top: 3px;
        margin-right: 67px;

        div {
            width: 28px;
            height: 4px;
            background-color: rgba(95, 46, 234, 1);
            margin: 3px 0;
            border-radius: 20px;
        }
    }
}

.searchmenu {
    width: 421px;
    height: 252px;
    margin: 62px 30px 0px 30px;

    .searchmenu__selectors * {
        display: block;
        margin-top: 25px;
    }

    h3 {
        margin-top: 77px;
        font-family: variables.$font;
        font-size: 24px;
        font-weight: 700;
        max-width: 350px;
    }
    select {
        width: 421px;
        height: 56px;
        border-radius: 15px;
        font-family: variables.$font;
        font-weight: 400;
        font-size: 16px;
        background-color: rgba(247, 247, 252, 1);
        padding-left: 24px;
        cursor: pointer;
    }

    button {
        background-color: variables.$pinkbutton;
        color: white;
        width: 421px;
        height: 55px;
        margin-top: 25px;
        border-radius: 40px;
        border: none;
        font-weight: 600;
        font-family: variables.$font;
        font-size: 16px;
    }
}

.searchbody {
    display: flex;
}

.searchbox {
    display: flex;
    justify-content: center;
    left: 31px;
    right: 30px;

    form {
        border-radius: 20px;
        background-color: variables.$searchMenuBackground;
        width: 420px;
        height: 614px;
        left: 31px;
        top: 673px;
        display: flex;
        flex-direction: column;
        h1 {
            color: variables.$searchMenutittle;
            font-family: variables.$font;
            display: flex;
            width: 90px;
            height: 38px;
            left: 71px;
            top: 703px;
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.75px;
            margin: 40px 290px 27px 30px;
        }
        div {
            display: flex;
            flex-direction: column;
            height: 100%;

            div {
                display: flex;
                margin-left: 35px;
                margin-right: 33px;
                justify-content: center;

                label {
                    font-family: variables.$font;
                    color: variables.$whitePrimary;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: 0.75px;
                }

                div.searchbox__box {
                    height: 59px;
                    width: 352px;
                    border-radius: 15px;
                    left: 60px;
                    top: calc(50% - 28px / 2 + 2.5px);
                    background-color: variables.$whitePrimary;
                    margin: auto;

                    .searchbox__container {
                        color: variables.$titleActive;
                        display: flex;
                        margin: 0px;
                        flex-direction: row;

                        span {
                            width: fit-content;
                            margin-top: 20px;
                            height: 24px;
                            width: 24px;
                        }

                        select,
                        input {
                            background-color: inherit;
                            border: none;
                            font-family: variables.$font;
                            font-weight: 400;
                            font-size: 16px;
                            letter-spacing: 0.75px;
                            width: 80%;
                        }
                    }
                }

                input.searchbox__submit {
                    height: 59px;
                    width: 352px;
                    color: white;
                    border-radius: 45px;
                    background-color: variables.$pinkbutton;
                    border: none;
                    font-family: variables.$font;
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: 0.75px;
                }
            }
        }
    }
}

@media (min-width: 482px) {
    header {
        height: 122px;
        width: 1440px;
        h1 {
            margin-left: 135px;
        }
        .burgerbutton {
            margin-right: 64px;
        }
    }

    section {
        border-bottom: 1px solid variables.$headerborder;
    }
    .searchmenu {
        width: fit-content;
        height: 200;
        margin-left: 130px;

        .searchmenu__selectors {
            display: flex;
        }

        .searchmenu__selectors > :first-child {
            width: 474px;
            margin-right: 20px;
        }

        .searchmenu__selectors > :not(:first-child) {
            width: 260px;
            margin-right: 10px;
        }

        .searchmenu__selectors > :last-child {
            display: inline;
            cursor: pointer;
            width: 156px;
            height: 55px;
            align-self: flex-start;
            margin-left: 10px;
        }

        h3 {
            font-size: 32px;
            width: 100%;
            display: inline;
            height: 34px;
            margin-left: -5px;
        }
        button {
            display: inline;
            cursor: pointer;
            width: 156px;
            height: 55px;
            align-self: flex-start;
        }
    }
}
