@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  height: 122px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(217, 219, 233);
}
header h1 {
  font-family: "Poppins";
  color: rgb(95, 46, 234);
  margin-left: 45px;
  font-weight: 700px;
  font-size: 34.38px;
  line-height: 55px;
}
header .burgerbutton:hover {
  cursor: pointer;
}
header .burgerbutton {
  width: fit-content;
  height: fit-content;
  padding-top: 3px;
  margin-right: 67px;
}
header .burgerbutton div {
  width: 28px;
  height: 4px;
  background-color: rgb(95, 46, 234);
  margin: 3px 0;
  border-radius: 20px;
}

.searchmenu {
  width: 421px;
  height: 252px;
  margin: 62px 30px 0px 30px;
}
.searchmenu .searchmenu__selectors * {
  display: block;
  margin-top: 25px;
}
.searchmenu h3 {
  margin-top: 77px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  max-width: 350px;
}
.searchmenu select {
  width: 421px;
  height: 56px;
  border-radius: 15px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(247, 247, 252);
  padding-left: 24px;
  cursor: pointer;
}
.searchmenu button {
  background-color: rgb(237, 46, 126);
  color: white;
  width: 421px;
  height: 55px;
  margin-top: 25px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 16px;
}

.searchbox {
  display: flex;
  justify-content: center;
  left: 31px;
  right: 30px;
}
.searchbox form {
  border-radius: 20px;
  background-color: rgb(42, 0, 162);
  width: 420px;
  height: 614px;
  left: 31px;
  top: 673px;
  display: flex;
  flex-direction: column;
}
.searchbox form h1 {
  color: rgb(188, 164, 255);
  font-family: "Poppins";
  display: flex;
  width: 90px;
  height: 38px;
  left: 71px;
  top: 703px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  margin: 40px 290px 27px 30px;
}
.searchbox form div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.searchbox form div div {
  display: flex;
  margin-left: 35px;
  margin-right: 33px;
  justify-content: center;
}
.searchbox form div div label {
  font-family: "Poppins";
  color: rgb(243, 239, 255);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
}
.searchbox form div div select,
.searchbox form div div input {
  height: 59px;
  width: 352px;
  border-radius: 15px;
  left: 60px;
  top: calc(50% - 14px + 2.5px);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.75px;
  color: rgb(20, 20, 43);
}
.searchbox form div div input.searchbox__submit {
  color: white;
  border-radius: 45px;
  background-color: rgb(237, 46, 126);
}

@media (min-width: 482px) {
  header {
    height: 122px;
    width: 1440px;
  }
  header h1 {
    margin-left: 135px;
  }
  header .burgerbutton {
    margin-right: 64px;
  }
  section {
    border-bottom: 1px solid rgb(217, 219, 233);
  }
  .searchmenu {
    width: fit-content;
    height: 200;
    margin-left: 130px;
  }
  .searchmenu .searchmenu__selectors {
    display: flex;
  }
  .searchmenu .searchmenu__selectors > :first-child {
    width: 474px;
    margin-right: 20px;
  }
  .searchmenu .searchmenu__selectors > :not(:first-child) {
    width: 260px;
    margin-right: 10px;
  }
  .searchmenu .searchmenu__selectors > :last-child {
    display: inline;
    cursor: pointer;
    width: 156px;
    height: 55px;
    align-self: flex-start;
    margin-left: 10px;
  }
  .searchmenu h3 {
    font-size: 32px;
    width: 100%;
    display: inline;
    height: 34px;
    margin-left: -5px;
  }
  .searchmenu button {
    display: inline;
    cursor: pointer;
    width: 156px;
    height: 55px;
    align-self: flex-start;
  }
  .searchbox {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
